/* estilos de mi pagina  */
.marca {
  font-family: 'Inspiration', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Yellowtail', cursive;
  padding-left: 0.5em;
  font-size: 2em !important;
  color: white !important;
}

#navbarNav{
  padding-left: 12rem;
}

.navRigth{
  padding-left: 14em !important;

}

.container-fluid{
  background-image: linear-gradient(to right, #6bd1b5, #2dcdd2, #00c5ed, #3cb9ff, #85a8ff, #85abff, #85aeff, #85b1ff, #39c9ff, #00ddff, #00eeed, #5ffbcb);
}

.mensaje{
  padding-left: 2em;
}

.App {
  text-align: center;
}

.carrito{
  text-align: right;
  font-size: 30px !important;
  color: white;
}

.btn-position-relative{
  border: none;
  background: none;
}
/* termina estilo de mi pagina */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
